* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  width: 100%;
  min-height: 100vh;
  background-color: #c9957f;
  padding: 20px 60px;
}

/* HEADER */

.header {
  height: 80px;
  background-color: white;
  border-radius: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 40px;
}

.logo {
  font-size: 28px;
  font-style: italic;
  color: #7a3e2f;
}

.nav {
  display: flex;
  gap: 40px;
}

.nav a {
  text-decoration: none;
  color: #7a3e2f;
  font-size: 16px;
  transition: 0.3s;
}

.nav a:hover {
  color: #4d2419;
}

.user-icon {
  font-size: 28px;
  cursor: pointer;
}

/* HERO */

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.text-content {
  width: 45%;
}

.text-content h1 {
  font-size: 55px;
  color: white;
  line-height: 1.2;
  margin-bottom: 25px;
}

.text-content p {
  color: #f5e7df;
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 35px;
}

/* BOTONES */

.buttons {
  display: flex;
  gap: 20px;
}

.btn-primary {
  background-color: white;
  color: #7a3e2f;

  border: none;
  padding: 14px 24px;
  border-radius: 30px;

  cursor: pointer;
  transition: 0.3s;
}

.btn-secondary {
  background-color: transparent;
  color: white;

  border: 1px solid white;

  padding: 14px 24px;
  border-radius: 30px;

  cursor: pointer;
  transition: 0.3s;
}

.btn-primary:hover {
  transform: scale(1.05);
}

.btn-secondary:hover {
  background-color: white;
  color: #7a3e2f;
}

/* IMAGEN */

.image-content {
  width: 45%;
}

.image-content img {
  width: 100%;
  max-width: 500px;
}