/*ESTILOS ESPECIFICOS */

/* NAV */
.link {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s;
  color: var(--variableTres); 
}

.link:hover {
  color: var(--variableDos); 
}

.link.active {
  color: var(--variableUno); 
  font-weight: 600;
}

.navbar {
  display: none;
}

.menu-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background: none;
  border: none;
  cursor: pointer;
}

.menu-line {
  display: block;
  height: 2px;
  width: 24px;
  background-color: var(--variableDos);
  transition: all 0.3s;
}
/* ANIMACION DEL BTN CUANDO SE ABRE (SI, EN CSS QUEDA LARGUISIMO Y NO SABIA COMO HACERLO) */
.menu-line.open:nth-child(1) {
  transform: rotate(45deg) translateY(6px);
}

.menu-line.open:nth-child(2) {
  opacity: 0;
}

.menu-line.open:nth-child(3) {
  transform: rotate(-45deg) translateY(-6px);
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 32px 0;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--variableUno);
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* SERVICIOS */

.servicios {
  padding: 20px;
  text-align: center;
}

.servicios h2 {
  color: var(--variableCinco);
  margin-bottom: 20px;
}

.contenedor-servicios {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/*FILTRO*/
.filter {
  display: flex;
  gap: 10px;
  overflow-x: auto; /*No sabia como hacer scroll y consulte con la ia, esto hace que cuando se desborda horizontalmente el contenido se genere automaticamente scroll en horizontal*/
  padding: 10px;
  background-color: var(--variableUno);
  border-radius: 15px;
}

.filter button {
  flex: 0 0 auto; /*Forma resumida (que desconocia) sin complicar tanto para que el elemento conserve su tamano*/
  border: none;
  padding: 8px 12px;
  border-radius: 20px;
  background: var(--variableDos);
  color: var(--variableCinco);
}

/* MUESTRA LOS SERVICIOS A PARTIR DEL MAPEO  */
.grid-servicios {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

/* CARD */
.card {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}


.card p {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  z-index: 1;
}


/* MEDIA QUERIES PARA COMPUTADORA Y TABLET  */
@media (min-width: 768px) {
  .navbar {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .menu-btn {
    display: none;
  }

  /* SECCIÓN SERVICIOS */
  .servicios {
    padding: 40px;
    text-align: center;
  }
  
  .servicios h2 {
    color: var(--variableCinco);
    margin-left: 90px;
    display: flex;
    justify-content: flex-start;
  }
  
  /* LAYOUT */
  .contenedor-servicios {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 40px;
  }
  
  /* FILTRO */
  .filter {
    background: var(--variableUno);
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
  }
  
  .filter button {
    border: none;
    padding: 10px;
    border-radius: 20px;
    background: var(--variableDos);
    color: var(--variableCinco);
    cursor: pointer;
    transition: 0.3s;
  }
  
  .filter button:hover {
    background: var(--variableTres);
    color: white;
  }
  
  .grid-servicios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }
  
  /* CARD */
  .card {
    position: relative;
    border-radius: 15px;
    overflow: hidden; /*Si algo se sale del contenedor, se oculta*/
  }
  
  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
  }
  .card p {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-weight: bold;
    z-index: 1;
  }
}
