/*ESTILOS ESPECIFICOS */

/* NAV */
.link {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s;
  color: var(--variableTres); 
}

.link:hover {
  color: var(--variableDos); 
}

.link.active {
  color: var(--variableUno); 
  font-weight: 600;
}

.navbar {
  display: none;
}

.menu-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background: none;
  border: none;
  cursor: pointer;
}

.menu-line {
  display: block;
  height: 2px;
  width: 24px;
  background-color: var(--variableDos);
  transition: all 0.3s;
}
/* ANIMACION DEL BTN CUANDO SE ABRE (SI, EN CSS QUEDA LARGUISIMO Y NO SABIA COMO HACERLO) */
.menu-line.open:nth-child(1) {
  transform: rotate(45deg) translateY(6px);
}

.menu-line.open:nth-child(2) {
  opacity: 0;
}

.menu-line.open:nth-child(3) {
  transform: rotate(-45deg) translateY(-6px);
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 32px 0;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid var(--variableUno);
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* SERVICIOS */

.servicios {
  padding: 20px;
  text-align: center;
}

.servicios h2 {
  color: var(--variableCinco);
  margin-bottom: 20px;
}

.contenedor-servicios {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/*FILTRO*/
.filter {
  display: flex;
  justify-content: start;
  gap: 10px;
  overflow-x: auto; /*No sabia como hacer scroll y consulte con la ia, esto hace que cuando se desborda horizontalmente el contenido se genere automaticamente scroll en horizontal*/
  padding: 10px;
  background-color: var(--variableUno);
  border-radius: 15px;
}

.filter button {
  flex: 0 0 auto; /*Forma resumida (que desconocia) sin complicar tanto para que el elemento conserve su tamano*/
  border: none;
  padding: 8px 12px;
  border-radius: 20px;
  background: var(--variableDos);
  color: var(--variableCinco);
}

/* MUESTRA LOS SERVICIOS A PARTIR DEL MAPEO  */
.grid-servicios {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

/* CARD */
.card {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}


.card p {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  z-index: 1;
}


/* MEDIA QUERIES PARA COMPUTADORA Y TABLET  */
@media (min-width: 768px) {
  .navbar {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .menu-btn {
    display: none;
  }

  /* SECCIÓN SERVICIOS */
  .servicios {
    padding: 40px;
    text-align: center;
  }
  
  .servicios h2 {
    color: var(--variableCinco);
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 1000;
    background-color: #ffffffcc;
    backdrop-filter: blur(12px);
    width: 100%;
    height: 40px;
  }
  
  /* LAYOUT */
  .contenedor-servicios {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 40px;
  }
  
  /* FILTRO */
  .filter {
    background: var(--variableUno);
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    gap: 20px;
    align-self: flex-start;
    position: sticky;
    top: 40px;
  }
  
  .filter button {
    border: none;
    padding: 10px;
    border-radius: 20px;
    background: var(--variableDos);
    color: var(--variableCinco);
    cursor: pointer;
    transition: 0.3s;
  }
  
  .filter button:hover {
    background: var(--variableTres);
    color: white;
  }
  
  .grid-servicios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
  }
  
  /* CARD */
  .card {
    position: relative;
    border-radius: 15px;
    overflow: hidden; /*Si algo se sale del contenedor, se oculta*/
  }
  
  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
  }
  .card p {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-weight: bold;
    z-index: 1;
  }
}

/*LOGGIN WACHOOO*/
.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container{
  display: flex;
  align-items: stretch;
  gap: 0;
  box-shadow:  8px 8px 0 0 var(--variableTres);
  border-radius: 12px;
  width: 60%;
  height: 80%;
  max-width: 900px;
}

.login-img{
  width: 35%;
  min-width: 180px;
  object-fit: cover;
  border-radius: 12px 0 0 12px;
}
.login form {
  background-color: var(--variableUno);
  padding: 40px;
  border-radius: 0px 12px 12px 0px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login h1 {
  font-size: 25px;
  color: var(--variableCuatro);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  max-width: 900px;
}
.input-container {
  margin-bottom: 20px;
}
.input-container label{
  display: block;
  margin-bottom: 8px;
  font-size: 18px;
  color: var(--variableCuatro);
  font-family: Arial, Helvetica, sans-serif;
}
.login input {
  background-color: var(--variableTres);
  width: 91%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid var(--variableTres);
  font-size: 14px;
}
.login input::placeholder {
  color: var(--variableUno);
}
input:focus{
  outline: none;
  box-shadow: 0 0 5px var(--variableTres);
}

.login button {
  font-size: 18px;
  color: var(--variableUno);
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--variableCuatro);
  width: 97%;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid var(--variableCuatro);
}
.login button:hover {
  background-color: var(--variableCinco);
}

.errors{
  color: #d30505;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-top: 5px;
}
.register-text{
  color: var(--variableCuatro);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  font-size: 16px;
  margin-top: 15px;
}
.register-text:hover{
  text-decoration: underline;
  color: var(--variableCinco);
  cursor: pointer;
}

/* Not Found styles*/
.notFound-container {
  user-select: none;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--variableUno);
}

.notFound-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.notFound-title {
  color: var(--variableCinco);
  font-family: var(--textFont);
  font-size: 28px;
  margin: 0;
}

.notFound-btn {
  background-color: var(--variableCinco);
  color: var(--variableUno);
  border: none;
  border-radius: 30px;
  box-shadow: 0px 5px 5px 0px var(--variableCuatro);
  padding: 14px 40px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s ease;
}

.notFound-btn:hover {
  background-color: var(--variableCuatro);
  transform: scale(1.05);
}

/*Home styles*/
.home-main{
  width: 100%;
  min-height: 100vh;
  background-image: url("/img/homeImg/woman-home.webp");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 400px ;
  background-color: var(--variableCuatro);
}

.home-section{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: calc(100vh - 80px);
  padding: 0 80px;
}

.home-buttons{
  display: flex;
  gap: 20px;
}

.btn-services, .btn-us{
  width: 35vh;
  padding: 15px 30px;
  border-radius: 40px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-services{
  border: none;
  background-color: var(--variableUno);
  color: var(--variableCuatro);
}
.btn-services:hover{
  transform: scale(1.05);
  background-color: var(--variableTres);
  color: var(--variableUno);
  border: 1px solid var(--variableUno);
}

.btn-us{
  background-color: var(--variableTres);
  border: 1px solid var(--variableUno);
  color: var(--variableUno);
}
.btn-us:hover{
  transform: scale(1.05);
  background-color: var(--variableUno);
  color: var(--variableCuatro);
}

/*.home-img{
  width: 45%;
  display: flex;
  justify-content: center;
}

.home-img img{
  width: 100%;
  max-width: 500px;
  object-fit: cover;
}*/