@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Charmonman:wght@700&display=swap');
/* LO QUE AFECTA A TODO EL CODIGO (*, BODY, VARIABLES, LINKS, ETIQUETAS, ESPECIFICAS)*/

/* VARIABLES */
:root{
  --variableUno: #F2F0F0;
  --variableDos: #D9C1B8;
  --variableTres: #BF8B78;
  --variableCuatro: #8C4830;
  --variableCinco: #591914;

  --brandFont: "Charmonman", cursive;
  --textFont: "Afacad", sans-serif;
}

.brandFont {
    font-family: var(--brandFont);
    font-weight: 700;
    font-style: normal;
  }
  
.textFont {
  font-family: var(--textFont);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*Home styles*/
*{
  margin: 0;
  padding: 0;
}

.footer{
  width: auto;
  padding:50px 70px 30px;
  background-color: var(--variableCinco);
}

.footer-container{
  max-width:1200px;
  margin:auto;
}

.title-footer{
  color: var(--variableUno);
}

.text-footer{
  color: var(--variableDos);
}

.link-footer{
  color: var(--variableDos);
  text-decoration: none;
}