/* LO QUE AFECTA A TODO EL CODIGO (*, BODY, VARIABLES, LINKS, ETIQUETAS, ESPECIFICAS)*/

/* VARIABLES */
:root{
  --variableUno: #F2F0F0;
  --variableDos: #D9C1B8;
  --variableTres: #BF8B78;
  --variableCuatro: #8C4830;
  --variableCinco: #591914;
}
